.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_text .page_not_found_text{
    font-size: 40px;
    font-weight: 600;
}

.page_not_found{
    font-size: 190px;
    position: fixed;
    top: 90px;
    font-weight: 900;
    filter: opacity(0.4);
    color: dodgerblue;
}

.container_text a{
    font-size: 24px;
    letter-spacing: 1.03px;
    color: black;
    text-decoration: none;
}

.container_text a:hover{
    text-decoration: underline;
    transition: all 300ms ease;
}