{% extends 'base.html' %}
{% load static %}

{% block title %}
    klass
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}


    <div class="lessons-container">
        {% for lesson in student_lesson %}

            <div class="lesson-info">

                <div class="lesson-image">
                    <img width="300px" src="{{ lesson.image.url }}" alt="">
                </div>

                <div class="lesson-date">
                    <p>{{ lesson.date| date:"j-F" }}</p>
                </div>

                <div class="lesson-title">
                    <a href="{{ lesson.get_absolute_url }}">{{lesson.name| capfirst| truncatechars:49 }}</a>
                </div>
                
            </div>
        {% endfor %}
    </div>
    
{% endblock %}