{% extends 'base.html' %}
{% load static %}

{% block title %}
    Adet - Testler
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/quizes.css' %}">
{% endblock %}


{% block content %}
    <h3>Test shigariw</h3>
    <div class="quizes">
        {% for language in quizes_all %}
            <a href="{% url 'test' language.subject_slug %}">{{ language.subject }}</a>
        {% endfor %}

        {% for lesson in lesson_quizes %}
            <a href="{% url 'pass_test' lesson.pk %}">{{ lesson.name }}</a>
        {% endfor %}

    </div>
{% endblock %}