{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adet - 500</title>    
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
    <!-- <link rel="stylesheet" href="../../../static/css/pages.css"> -->
    <link rel="shortcut icon" href="{% static 'assets/2.png' %}" type="image/x-icon">

</head>
<body>
    <div class="container">
        <div class="container_text">
            <h1 class="page_not_found">500</h1>
            <p class="page_not_found_text">Serverde qatelik</p>
        </div>
    </div>
</body>
</html>